#PlayButton {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 35;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #006809 0%, #016401 100%),
        #0a5800,
        #03a503,
        radial-gradient(center 50% 50%, radius 100%, #04d620, #0ada25);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-text-fill: #ffffff;
    -fx-font-size: 30px;
}

#PlayButton :hover {
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #006809 0%, #016401 100%),
        #0a5800,
        #03a503,
        radial-gradient(center 50% 50%, radius 100%, #84eb92, #0ada25);
}

#PlayButton :pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}

#SkinButton {
    -fx-content-display: graphic-only;
    -fx-background-image: url('../images/buttonSkin.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
}

#SettingsButton {
    -fx-content-display: graphic-only;
    -fx-background-image: url('../images/buttonSettings.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
}
#Color {
    -fx-color-label-visible: false;
    -fx-background-radius: 35;
    -fx-background-color: #4c447c; 
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 10, 10);
}

#Color > .color-picker-label > .picker-color > .picker-color-rect {
    -fx-stroke: null;
    -fx-fill : null;
}
#ExitButton {
    -fx-content-display: graphic-only;
    -fx-background-image: url('../images/close.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent; 

}
#BackButton {
    -fx-content-display: graphic-only;
    -fx-background-image: url('../images/back.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent; 

}
