#Button {
    -fx-content-display: graphic-only;
    -fx-background-image: url('buttonSkin.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
}